@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --primary-color : #2f363d;
    --primary-white : #ECFDF5;
    --yours-green : #63FF8F;
    --yours-white : #ffffff;
    --left-out-color : rgb(31, 30, 30); 
    --yours-dark-grey : #6B7280;
    --image-black : #3f3d56;
    --image-blue : rgb(63,61,86);
    --image-blue2 : #2f2e41;
    --image-blue3: #575a89;
    --image-other-green :#3ff39f;
    --hover-green : #34D399;
    --light-yours-green : #A7F3D0;
    --image-skincolor : #ffb9b9;
    --shadow-grey : #fcfcfc91;
    --hover-black : #4B5563;
}


body{
    background-color : var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    /* font-family : dm, Menlo, Monaco, "Courier New", monospace; */
    color : var(--yours-white);
    /* color: rgb(31, 30, 30); */
    
}
.alter{
    color : var(--image-other-green);
}
.different{
    color: var(--primary-white);
}
hr{
    margin: 2rem 0rem;
}
/*spaces*/
.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin : auto;
}





/*image minds specs*/

.minds{
    padding: 5rem 2rem 0rem 2rem;
    
}

 .minds .minds-img{
    
    max-width: 100%;
    width: 500px;
    border-radius: 0.5rem;
    
    box-shadow:
       inset 0 -3em 3em var(--primary-color),
             0 0  0 2px var(--primary-color),
             0.3em 0.3em 1em var(--primary-color);
    margin: auto;
    max-height: 250px;
    display : block;

    /*these are to be commented*/
    /* object-fit :cover; */
    /* backdrop-filter: ;
     */
}

.minds .minds-heading{
    text-align: center;
    padding-top: 1rem;
    color : var(--primary-white);

}

.minds .minds-heading .heading-inverted{
    color : var(--image-other-green);
}
.section {
    padding: 2rem;
    font-weight: 400px;
    
}
.section h1{
    text-align: center;
    
}
 .odd{
     color: var(--primary-color) ;
     /* color: var(--image-blue2);
      */
      background-color : var(--image-other-green);
     
 }
/*nav*/
.navigation{
    /* background-color: var(--primary-color);
     */
     /* background-color: var(--yours-green); */
     background-color: var(--image-other-green);
    color : var(--primary-color);
    box-shadow: 1px 5px 25px 0px var(--image-other-green);
    padding : 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
    text-decoration: none;
    /* color : white; */
}

.nav-brand a{
    text-decoration: none;
    color : inherit;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color: var(--primary-color);
    text-decoration: none;
    
}
.navigation .link:hover{
    color: var(--hover-black);
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}
.navigation .link-active{
    font-weight: bolder;
}

/*links*/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    box-sizing: border-box;
}
.link-primary{
    background-color: var(--image-other-green);
    color: var(--primary-color);
    border-radius: 0.5rem;
    display: block;
    max-width: 155px;
    margin: 1rem 1rem 1rem 0rem;
}
.link-primary:hover{
    background-color: var(--primary-color);
    color: var(--primary-white);
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}
.link-secondary{
    background-color: var(--primary-color);
    color: var(--image-other-green);
    border-radius: 0.5rem;
    border: 2px solid var(--hover-green);
    display: block;
    max-width: 155px;
    margin: 1rem 1rem 1rem 0rem;
}
.link-secondary:hover{
    background-color: var(--image-other-green);
    border: 2px solid var(--image-other-green);
    color: var(--primary-color);
    
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}


hr{
    margin: 2rem 0rem;
}

/*lists*/
.list-non-bullet{
    list-style : none;
    
    padding-inline-start: 0rem;
    
}
.list-item-inline{
    display: inline;
    padding : 0rem 0.5rem;
    color : whitesmoke;
    
}
.showcase-list {
    padding: 2rem;
}

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}

.footer{
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 0.1rem;
    background-color: var(--image-other-green);
    border-top-left-radius: 1rem;
}
.footer-header{
    color: var(--primary-color);
    font-weight: bold;
    
    padding: 1rem;
}
.footer .social-links{
    display: inline;
}
.footer .social-links .link:hover{
    color: var(--image-blue3);
    transition: all 0.3s ease-in-out;
}
.footer .footer-copy{
    font-weight: 450;
    font-size: small;
    color: var(--primary-color);
    padding: 1rem 0rem 0rem 0.1rem;
}